.card {
    box-shadow: 0 0 0.125rem var(--primary-shadow-color), 0 0 0.25rem var(--primary-shadow-color);
    border-radius: var(--primary-border-radius);
    max-width: 360px;
    overflow: hidden;
    //transition: box-shadow 0.25s;
    //margin: auto;
    //transition: transform 0.25s;
    box-sizing: border-box;
    width: 100%;
    //height: 100%;

    &__slide{
      max-width: 250px;
      height: 190px;
      padding: 1rem;
      box-sizing: border-box;
    }

    &__section{
      width: 100%;
      height: 100%;
      max-width: 546px;
      max-height: 229px;
      box-sizing: border-box;
    }

    &__content{
      width: 190px;
      height: 112px;
      padding: 1rem;
      box-sizing: border-box;
    }

    &__hover {
      transition: box-shadow 0.25s;
      transition: transform 0.25s;
      //border: 0.0125rem solid var(--secondary-border-color);
      &:hover {
        box-shadow: 0 0 0.25rem 0 var(--third-highlight-color);
        transform: scale(1.125);
      }
    }
    
    
    &__header,
    &__footer {
      //background-color: var(--reverse-primary-shadow-color);
      padding: 1rem;
    }
  
    &__img{
      display: flex;
      width: 100%;
      height: 350px;
      object-fit: cover;
    }

    &__icon{
        width: 50px;
        height: 50px;
        color: var(--primary-text-color);
        border-radius: 50%;
        box-sizing: border-box;
        mix-blend-mode: luminosity;

        @include desktop{
          width: 72px;
          height: 72px;
        }
    }
    
      
    &__body {
      background-color: var(--primary-bg-color);
      padding: 1rem;
      height: 180px;

      &-services {
          color: var(--secondary-text-color);
          //padding: 1.2rem;
        }
        
    }
      
    &__title {
      font-size: var(--secondary-text-font-size);
      margin: 0;
      font-weight: 700;
      //padding: 1rem 1rem;

      &--primary{
        color: var(--primary-text-color);
        text-align: left;
      }

      &--secondary{
        color: var(--secondary-text-color);
        text-align: center;
      }

      &--reverse-secondary{
        color: var(--primary-p-color);
        text-align: center;
        font-weight: 600;
      }
    }
    
    &__subtitle {
      font-size: 1.125rem;
      text-align: center;
      margin: 0;
    }
    
    &__text {
      font-size: var(--primary-p-font-size);
      text-align: center;
      margin: 0;
      color: var(--secondary-text-color);
      line-height: 1.125rem;
      font-weight: 600;

      @include desktop{
        font-size: var(--secondary-text-font-size);
        line-height: 1.375rem;
      }
    }
      
  }

  .icon{
    width: 46px;
    height: 46px;
    animation: pulse 1s ease-in-out infinite;
  }
