.list {
    list-style: none;
    margin: 0;
    padding: 0;

    &--header{
        position: fixed;
        top: 17.5rem;
        left: 0;
        width: 100%;
        height: calc(100% - 17.5rem);
        background-color: var(--primary-theme-color);
        transform: translateX(var(--translate-list-header));
        transition: transform 0.25s;

        &-scroll{
            height: calc(100% - 7.95rem);
            top: 7.95rem;
        }

        @include desktop{
            position: static;
            width: auto;
            height: auto;
            background-color: transparent;
        }
    }
    
    &__link {
        position: relative;
        color: var(--primary-p-color);
        font-weight: 500;
        text-decoration: none;
        transition: color 0.25s;
        font-size: var(--primary-text-font-size);

        &--contact{
            color: var(--secondary-text-color);
            font-weight: 500;
            font-size: 1.125rem;

            @include desktop{
                font-size: 1.5rem!important;
            }
        }

        &:hover {
            color: var(--secondary-highlight-color);
        }

        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: -0.125rem;
            width: 0;
            height: 0.0625rem;
            background-color: var(--secondary-highlight-color);
            transition: width 0.25s;
        }
        
        &:hover::before{
            width: 100%;
        }

        @include desktop{
            font-size: var(--nav-primary-font-size);
        }

    }

    &__link--menu{
        position: relative;
        color: var(--primary-p-color);
        font-weight: 700;
        text-decoration: none;
        transition: color 0.25s;
        font-size: var(--nav-primary-font-size);

        &:hover {
            color: var(--secondary-highlight-color);
        }

        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: -0.125rem;
            width: 0;
            height: 0.0625rem;
            background-color: var(--secondary-highlight-color);
            transition: width 0.25s;
        }
        
        &:hover::before{
            width: 100%;
        }

        @include desktop{
            font-size: var(--nav-primary-font-size);
        }

    }
}