RewriteEngine On
RewriteBase /

# Redireccionar a HTTPS sin "www"
# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC,OR]
# RewriteCond %{HTTPS} off
# RewriteRule ^ https://emausesperanzaviva.org/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

